<!--<ng-container *ngIf="cookiePrefs.hasConsent('ads'); else adsBlocked">
  <ins class="adsbygoogle"
       style="display:block"
       [attr.data-ad-client]="adsService['clientId']"
       [attr.data-ad-slot]="adSlot"
       data-ad-format="auto"
       data-full-width-responsive="true">
  </ins>
</ng-container>

<ng-template #adsBlocked>
</ng-template>-->


<!-- manual-ad.component.html (ejemplo) -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="auto"
     data-full-width-responsive="true"
     [attr.data-ad-client]="adsService.clientId"
     [attr.data-ad-slot]="adSlot">
</ins>
