<!--
<a [routerLink]="['/dashboard/home2']"><h3>otra pantalla</h3></a>

<div *ngIf="_authService.isLoggedIn(); else notLoggedIn">
    <h2>Bienvenido, {{ _authService.user.email }}</h2>
    <p>Nombre: {{ _authService.user.fullname }}</p>
    <button (click)="logout()">Cerrar sesión</button>
</div>


<ng-template #notLoggedIn>
    <h2>No estás logado</h2>
    <a routerLink="/auth/login">Iniciar sesión</a>
</ng-template>-->


<div class="loading-screen" *ngIf="loading; else loadedContent">
    <div class="spinner"></div>
</div>


<ng-template #loadedContent>

    <!-- ⭐⭐ PRIMER BANNER MANUAL AQUÍ ⭐⭐ -->
    <app-manual-ad adSlot="1234567890" class="adsbygoogle banner-horizontal"></app-manual-ad>
    <!-- Cambia 1234567890 por tu slot real -->

    <!-- 1 -->
    <app-media-row title="Tendencias de hoy" [items]="trendingMixed" (selectItem)="onSelect($event)">
    </app-media-row>

    <!-- 2 -->
    <app-media-row title="En cines ahora" [items]="moviesNowPlaying" type="movie" (selectItem)="onSelect($event)"
        [showMoreButton]="true" (more)="onMoreMoviesNowPlaying()">
    </app-media-row>

    <!-- ⭐ Banner 2: entre la fila 2 y 3 -->
    <app-manual-ad adSlot="0987654321" class="adsbygoogle banner-horizontal"></app-manual-ad>
    <!-- 🔼 puedes:
        - usar el mismo slot que el de arriba
        - o crear otro bloque distinto en AdSense y poner su slot aquí 
    -->

    <!-- 3 -->
    <app-media-row title="En emisión hoy" [items]="tvAiringToday" type="tv" (selectItem)="onSelect($event)"
        [showMoreButton]="true" (more)="onMoretvAiringToday()">
    </app-media-row>

    <!-- 4 -->
    <app-media-row title="Películas populares" [items]="moviesPopular" type="movie" (selectItem)="onSelect($event)"
        [showMoreButton]="true" (more)="onMorePopulares()">
    </app-media-row>

    <!-- 5 -->
    <app-media-row title="Series populares" [items]="tvPopular" type="tv" (selectItem)="onSelect($event)"
        [showMoreButton]="true" (more)="onMoreSeriesPopulares()">
    </app-media-row>

    <!-- 6 -->
    <app-media-row title="Películas mejor valoradas" [items]="moviesTopRated" type="movie"
        (selectItem)="onSelect($event)" [showMoreButton]="true" (more)="onMoreTopRated()">
    </app-media-row>

    <!-- 7) Opcional -->
    <!-- <app-media-row title="Próximos estrenos" [items]="moviesUpcoming" type="movie" (selectItem)="onSelect($event)"></app-media-row> -->

</ng-template>