<nav id="navbar" class="navbar" [class.grande]="isNavbarGrande" [class.menu-open]="isMenuOpen">
  <div class="container-nav">

    <button class="toggle-btn" type="button" aria-label="Abrir menú" [attr.aria-expanded]="isMenuOpen"
      (click)="toggleMenu(); $event.stopPropagation()">
      ☰
    </button>

    <ng-container *ngIf="!authService.isLoggedIn(); else loggedBlock">
      <div class="navbar-buttons navbar-right">
        <a [routerLink]="['/auth/login']" [queryParams]="{ returnUrl: currentUrl }" class="btn btn-login">Iniciar Sesión</a>
        <a [routerLink]="['/auth/register']" class="btn btn-register">Registrarse</a>
      </div>
    </ng-container>

    <ng-template #loggedBlock>
      <div class="navbar-user navbar-right">
        <span class="user-name">
          {{ authService.user?.fullname || authService.user?.name || authService.user?.email }}
        </span>
        <button class="btn-logout" (click)="logout()" title="salir"><i class="bi bi-power"></i></button>
      </div>
    </ng-template>

    <div class="nav-collapse" #navCollapse [class.open]="isMenuOpen" id="nav-collapse" (click)="$event.stopPropagation()">

      <div class="logo-menu">

        <div class="navbar-logo">
          <img src="assets/icons/favicon.png" alt="logo" class="logo-icon">
          <span class="site-name">SALA 2</span>
        </div>

        <ul class="navbar-menu">
          <li id="hasnt-submenu" routerLink="/dashboard/home">
            <a class="enlace-menu" (click)="onNavLinkClick()">Inicio</a>
          </li>

          <li class="has-submenu"
              #submenuCine
              [class.submenu-open]="submenus!.cine"
              (click)="toggleSubmenu('cine', $event)">

            <a href="#cine"
               class="enlace-menu"
               aria-haspopup="true"
               [attr.aria-expanded]="submenus!.cine ? 'true' : 'false'">
               Cine
            </a>

            <button class="submenu-toggle"
                    type="button"
                    aria-label="Abrir submenu Cine"
                    >▾</button>

            <ul class="submenu" (click)="$event.stopPropagation()">
              <li><a routerLink="/dashboard/en-cines" class="enlace-menu" (click)="onNavLinkClick()">Ahora en cines</a></li>
              <li><a routerLink="/dashboard/proximos-estrenos" class="enlace-menu" (click)="onNavLinkClick()">Próximos estrenos</a></li>
              <li><a routerLink="/dashboard/populares" class="enlace-menu" (click)="onNavLinkClick()">Películas populares</a></li>
              <li><a routerLink="/dashboard/top-rated" class="enlace-menu" (click)="onNavLinkClick()">Películas mejor valoredas</a></li>
            </ul>
          </li>

          <li class="has-submenu"
              #submenuSeries
              [class.submenu-open]="submenus!.series"
              (click)="toggleSubmenu('series', $event)">

            <a href="#series"
               class="enlace-menu"
               aria-haspopup="true"
               [attr.aria-expanded]="submenus!.series ? 'true' : 'false'">
               Series
            </a>

            <button class="submenu-toggle"
                    type="button"
                    aria-label="Abrir submenu Series"
                    (click)="toggleSubmenu('series', $event)">▾</button>

            <ul class="submenu" (click)="$event.stopPropagation()">
              <li><a routerLink="/dashboard/en-emision" class="enlace-menu" (click)="onNavLinkClick()">En emisión actualmente</a></li>
              <li><a routerLink="/dashboard/hoy" class="enlace-menu" (click)="onNavLinkClick()">En emisión hoy</a></li>
              <li><a routerLink="/dashboard/series-populares" class="enlace-menu" (click)="onNavLinkClick()">Series populares</a></li>
            </ul>
          </li>

          <li *ngIf="authService.isLoggedIn()" id="hasnt-submenu" routerLink="/dashboard/favorites">
            <a  class="enlace-menu" (click)="onNavLinkClick()">Favoritos</a>
          </li>
        </ul>

      </div>
    </div>
  </div>
</nav>


<!-- ===== BUSCADOR GLOBAL ===== -->
<div class="search-bar-wrapper" #searchBarWrapper>
  <div class="search-bar">
    <form [formGroup]="searchForm" (ngSubmit)="onSubmitSearch()">
      <div class="search-bar-inner">
        <i class="bi bi-search search-icon"></i>

        <input
          type="text"
          formControlName="query"
          name="query"
          class="search-input"
          placeholder="Buscar películas, series, actores..."
          autocomplete="off"
        />

        <button
          type="submit"
          class="btn-search"
          [disabled]="!searchForm.valid"
        >
          Buscar
        </button>
      </div>
    </form>
  </div>
</div>




<div class="container" #container>
  <router-outlet></router-outlet>
</div>

<footer class="site-footer">
  <div class="footer-wrap nonExpanded-footer"  #footerWrap>
    <span class="icono" (click)="toogleFooter()" #footerIcon>☰</span>
    <div class="footer-brand">
      <div class="brand-line">
        <img src="assets/icons/favicon.png" alt="logo" class="logo-icon" />
        <span class="site-name">SALA 2</span>
      </div>
      <p class="tagline">Películas y series.</p>
    </div>

    <nav class="footer-links">
      <div class="col">
        <h4>Cine</h4>
        <a (click)="openLink('/dashboard/en-cines')">Ahora en cines</a>
        <a (click)="openLink('/dashboard/proximos-estrenos')">Próximos estrenos</a>
      </div>
      <div class="col">
        <h4>Series</h4>
        <a (click)="openLink('/dashboard/en-emision')">En emisión <span *ngIf="viewport.isDesktop$ | async">actualmente</span></a>
        <a (click)="openLink('/dashboard/hoy')">En emisión hoy</a>
      </div>
      <div class="col">
        <h4>Legal</h4>
        <a (click)="openLink('/dashboard/contacto')">Contacto</a>
        <a (click)="openLink('/dashboard/terminos')">Términos y Privacidad</a>
        <a (click)="openLink('/dashboard/cookies')">Cookies</a>
      </div>
    </nav>
    <div class="tmdb-note-mobile" *ngIf="viewport.isMobile$ | async">
      <span>© {{ currentYear }} SALA 2</span>
      <span class="tmdb-note">Esta página utiliza la API de TMDB pero no está avalada ni certificada por TMDB.</span>
    </div>
  </div>

  <!-- Versión escritorio -->
  <div class="footer-bottom" *ngIf="viewport.isDesktop$ | async">
    <span class="icono bottom" (click)="toogleFooter()" #footerBottom>☰</span>
    <span>© {{ currentYear }} SALA 2</span>
    <span class="tmdb-note">Esta página utiliza la API de TMDB pero no está avalada ni certificada por TMDB.</span>
  </div>
  <!-- Versión móvil: solo botón -->
  <div class="footer-bottom" *ngIf="viewport.isMobile$ | async">
    <span class="icono bottom" (click)="toogleFooter()" #footerIconMobile>☰</span>
  </div>

</footer>
