
:root { 
    --color-background: #131313;
    --color-primary: #fbca49;
    --color-primary-hover: #ffe17c;
    --color-secondary: #0a3136;
    --color-accent: #f5deb3;
    
    --text-color: #dddddd;
    --text-hover-color: #ffffff;


}